<mat-card [ngClass]="{reflexao: reflexao}">
  <div class="list_title" *ngIf="reflexao">
    {{ card?.list?.title }}
  </div>

  <div class="feedback" *ngIf="!editing">
    {{ card?.description }}
  </div>

  <div class="feedback" [hidden]="!editing">
    <textarea #feedbackInput title="Descrição">{{ card?.description }}</textarea>
  </div>

  <div class="footer">
    <div class="actions" [ngClass]="{ active: card.voted == 1 }">
      <span class="num">{{ card?.votes }}</span>

      <button class="vote" mat-icon-button (click)="vote()">
        <mat-icon>thumb_up</mat-icon>
      </button>

      <button mat-icon-button *ngIf="!editing && user.id == card.user.id && !reflexao" (click)="editCard(true)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button *ngIf="!editing && user.id == card.user.id && !reflexao" (click)="deleteCard(card)">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing && user.id == card.user.id && !reflexao" (click)="saveCard(feedbackInput?.value)">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing && user.id == card.user.id" (click)="editCard(false)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div class="user" matTooltip="{{ card?.user?.name }}">
      <img src="{{ card?.user?.image }}" />
    </div>
  </div>
</mat-card>
