<md-accordion>
  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Retrospective 1
      </md-panel-title>
    </md-expansion-panel-header>

    <md-accordion>
      <md-expansion-panel>
        <md-expansion-panel-header>
          <md-panel-title>
            O que deixa o time louco?
          </md-panel-title>
        </md-expansion-panel-header>

        <!--<app-card *ngFor="let card of cards" [retroState]="retroState" [card]="card"></app-card>-->
      </md-expansion-panel>

      <md-expansion-panel>
        <md-expansion-panel-header>
          <md-panel-title>
            Retrospective 2
          </md-panel-title>
        </md-expansion-panel-header>


      </md-expansion-panel>
    </md-accordion>

  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Retrospective 2
      </md-panel-title>
    </md-expansion-panel-header>


  </md-expansion-panel>
</md-accordion>
