<mat-card fxLayout="column" [attr.data-listPosition]="list.position">
  <mat-card-header class="handle">

    <mat-card-title *ngIf="!editing">{{ list.title }}</mat-card-title>

    <mat-card-title [hidden]="!editing">
      <input #titleInput value="{{ list.title }}">
    </mat-card-title>

    <div class="actions">
      <button mat-icon-button *ngIf="!editing && retroState == 1" (click)="editList(true)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing" (click)="saveList(titleInput?.value)">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing" (click)="editList(false)">
        <mat-icon>clear</mat-icon>
      </button>

      <button mat-icon-button *ngIf="!editing && retroState == 1" (click)="deleteList()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content fxFlex [dragula]='"bag-cards"' [dragulaModel]="cards">
    <app-card *ngFor="let card of cards" [retroState]="retroState" [ngClass]="{ drag: user?.id == card?.user?.id }" [card]="card"></app-card>
  </mat-card-content>

  <button mat-raised-button color="primary" (click)="createCard()"><mat-icon >add</mat-icon></button>
</mat-card>
