<mat-sidenav-container>
  <!-- HEADER -->
  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav #sidenav align="end">
    <app-my-actions></app-my-actions>
  </mat-sidenav>

  <!-- CONTENT -->
  <section>

    <app-retrospective-thumb
      *ngFor="let retrospective of retrospectives"
      id="{{ retrospective.id }}"
      title="{{ retrospective.title }}"
      date="{{ retrospective.date }}"
      image="{{ retrospective.image }}"
    ></app-retrospective-thumb>

  </section>

  <button class="fab" mat-fab (click)="createNewRetrospective()">
    <mat-icon>add</mat-icon>
  </button>
</mat-sidenav-container>
