<md-sidenav-container>
  <!-- HEADER -->
  <app-header [sidenav]="sidenav"></app-header>

  <md-sidenav #sidenav align="end">
    <app-my-actions></app-my-actions>
  </md-sidenav>

  <!-- CONTENT -->
  <section>

    <app-retrospective-thumb
      *ngFor="let retrospective of retrospectives"
      id="{{ retrospective.id }}"
      title="{{ retrospective.title }}"
      date="{{ retrospective.date }}"
      image="{{ retrospective.image }}"
    ></app-retrospective-thumb>

  </section>

  <button class="fab" md-fab (click)="createNewRetrospective()">
    <md-icon>add</md-icon>
  </button>
</md-sidenav-container>
