*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: mat-color($primary, default-contrast)
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid mat-color($mat-grey, 300);
  resize: vertical;

  &:focus {
    outline: none;
    border-bottom: 2px solid mat-color($accent);
  }
}

[hidden] { display: none !important; }

/**
* ScrollBar
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: mat-color($mat-grey, 500);
  border: none;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: mat-color($mat-grey, A200);
  border: none;
  border-radius: 100px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
