<mat-toolbar color="primary">
  <a href="#" class="logo" routerLink="/dashboard"><img src="assets/images/logo.png" /></a>

  <div class="center">
    <div class="title">
      <span *ngIf="!editing">{{ retrospective?.title }}</span>

      <span [hidden]="!editing"><input #retroTitleInput value="{{ retrospective?.title }}" title="Título da Reunião"></span>

      <button mat-icon-button *ngIf="!editing && retrospective?.state === 1" (click)="editRetroTitle(true)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing" (click)="saveRetroTitle(retroTitleInput.value)">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button *ngIf="editing" (click)="editRetroTitle(false)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <a class="sub-title" (click)="openRetroContext()">Contexto</a>
  </div>

  <div class="right">
    <div class="members_picture" *ngFor="let member of retrospective?.members" matTooltip="{{ member?.firstname }}"><img src="{{ member?.image }}" /></div>
    <div class="facilitador_picture" matTooltip="{{ retrospective?.Facilitator?.firstname }}"><img src="{{ retrospective?.Facilitator?.image }}" alt="" title="" /></div>
    <div class="num_members" *ngIf="retrospective?.state !== appSettings.PREPARAR">{{ retrospective?.members.length + 1 }} {{ (retrospective?.members.length >= 1) ? 'participantes' : 'participante' }}</div>
  </div>
</mat-toolbar>
