<retro-retre-header [retrospective]="retrospective"></retro-retre-header>

<div class="pin_code" *ngIf="retrospective?.state === appSettings.FEEDBACK">PIN: {{ retrospective?.pin }}</div>

<section class="steps" fxLayout="row" fxLayoutAlign="center">
  <div class="step" (click)="goToPrepareStep()" [ngClass]="{ active: retrospective?.state === appSettings.PREPARAR }">
    <div class="icon" fxLayoutAlign="center center"><mat-icon>create</mat-icon></div>
    <div class="name">Prepare</div>
  </div>

  <div class="step" (click)="goToFeedbackStep()" [ngClass]="{ active: retrospective?.state === appSettings.FEEDBACK }">
    <div class="icon" fxLayoutAlign="center center"><mat-icon>announcement</mat-icon></div>
    <div class="name">Feedback</div>
  </div>

  <div class="step" (click)="goToReflexaoStep()" [ngClass]="{ active: retrospective?.state === appSettings.REFLEXAO }">
    <div class="icon" fxLayoutAlign="center center"><mat-icon>lightbulb_outline</mat-icon></div>
    <div class="name">Reflexão</div>
  </div>
</section>

<section *ngIf="retrospective.state === appSettings.PREPARAR || retrospective.state === appSettings.FEEDBACK" class="lists" fxLayout="row" [dragula]='"bag-list"' [dragulaModel]='lists'>
  <retro-list fxLayout="column" fxLayoutAlign="start" [retroState]="retrospective.state" *ngFor="let list of lists" [list]="list" [cards]="list.cards"></retro-list>

  <button *ngIf="retrospective.state === appSettings.PREPARAR" class="add-list" mat-raised-button color="primary" (click)="createList()"><mat-icon >add</mat-icon></button>
</section>

<retro-reflexao-retrospective *ngIf="retrospective.state === appSettings.REFLEXAO" [retrospective]="retrospective"></retro-reflexao-retrospective>
