<mat-sidenav-container>
  <!-- HEADER -->
  <retro-header [sidenav]="sidenav"></retro-header>

  <mat-sidenav #sidenav position="end" mode="over">
    <retro-my-actions></retro-my-actions>
  </mat-sidenav>

  <!-- CONTENT -->
  <section>
    <retro-retrospective-thumb
      *ngFor="let retrospective of retrospectives"
      id="{{ retrospective.id }}"
      title="{{ retrospective.title }}"
      date="{{ retrospective.date }}"
      image="{{ retrospective.image }}"
    ></retro-retrospective-thumb>
  </section>

  <button class="fab" mat-fab (click)="createNewRetrospective()">
    <mat-icon>add</mat-icon>
  </button>
</mat-sidenav-container>
