@import '~@angular/material/theming';
@import '../../theme.scss';

.pin_code {
  position: absolute;
  margin-left: 32px;
  font-size: 32px;
  margin-top: 28px;
  color: mat-color($primary, darker, .2);
  transition: .5s;

  &:hover {
    cursor: default;
    color: mat-color($primary, darker, 1);
    transform: scale(1.2);
  }
}

section.steps {
  .step {
    padding: 0px;
    margin: 16px 32px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    .icon {
      width: 32px;
      height: 32px;
      background: mat-color($primary, lighter);
      border-radius: 8px;
      margin: 0 auto;
      margin-bottom: 8px;
      color: mat-color($primary, default-contrast);
    }

    &.active {
      color: mat-color($accent);

      &:hover {
        transform: scale(1);
        cursor: default;
      }

      .icon {
        background: mat-color($accent);
      }
    }
  }
}

section.lists {
  box-sizing: border-box;
  padding: 0px 0px 32px 32px;
  overflow-x: scroll;
  position: fixed;
  height: calc(100% - 164px);
  width: 100%;
}
