section.steps {

  .step {
    padding: 16px 32px;

    .icon {
      width: 32px;
      height: 32px;
      background: #ddd;
      border-radius: 8px;
      margin: 0 auto;
      margin-bottom: 8px;
    }
  }
}

section.lists {
  box-sizing: border-box;
  padding: 0px 0px 32px 32px;
  overflow-x: scroll;
  position: fixed;
  height: calc(100% - 164px);
  width: 100%;
}
