<app-retre-header></app-retre-header>

<div class="pin_code" *ngIf="retrospective?.state === appSettings.FEEDBACK">PIN: {{ retrospective?.pin }}</div>

<section class="steps" fxLayout="row" fxLayoutAlign="center">
  <div class="step" [ngClass]="{ active: retrospective?.state === appSettings.PREPARAR }">
    <div class="icon"></div>
    <div class="name">Prepare</div>
  </div>

  <div class="step" [ngClass]="{ active: retrospective?.state === appSettings.FEEDBACK }">
    <div class="icon"></div>
    <div class="name">Feedback</div>
  </div>

  <div class="step" [ngClass]="{ active: retrospective?.state === appSettings.REFLEXAO }">
    <div class="icon"></div>
    <div class="name">Reflexão</div>
  </div>
</section>

<section class="lists" fxLayout="row">
  <app-list fxLayout="column" fxLayoutAlign="start" *ngFor="let list of lists" title="{{ list.title }}" [cards]="getCardsFromList(list.id)"></app-list>
</section>
