<swiper [config]="swiperConfig">
  <div class="slide" *ngFor="let card of cards">
    <app-card [card]="card" [reflexao]="true"></app-card>

    <div class="actions">
      <button class="fab" md-fab (click)="createAnnotation(card.id)">
        <md-icon>chat_bubble</md-icon>
      </button>

      <div class="annotation" *ngFor="let annotation of card?.annotation">
        <div class="desc">{{ annotation.description }}</div>

        <div class="responsibles">
          <button md-icon-button color="secundary" [hidden]="retrospective.members.length <= annotation.responsibles.length" [matMenuTriggerFor]="menuResponser">
            <md-icon aria-label="Atribuir pessoa">add</md-icon>
          </button>

          <md-menu #menuResponser="mdMenu">
            <button md-menu-item *ngFor="let member of retrospective.members | removeIntersection: annotation.responsibles" (click)="addResponsible(annotation, member)">
              <md-icon class="picture"><img src="{{ member.image }}"></md-icon>
              <span>{{ member.name }}</span>
            </button>
          </md-menu>

          <div *ngFor="let responsible of annotation.responsibles" class="user" mdTooltip="{{ responsible.name }}" [matMenuTriggerFor]="menuRemoveResponser">
            <img src="{{ responsible.image }}" />

            <md-menu #menuRemoveResponser="mdMenu">
              <button md-menu-item (click)="removeResponsible(annotation, responsible)">
                <md-icon>trash</md-icon>
                <span>Remover responsabilidade</span>
              </button>
            </md-menu>
          </div>

        </div>
      </div>
    </div>
  </div>
</swiper>
