<md-toolbar color="primary">
  <a href="#" class="logo" routerLink="/dashboard"></a>

  <span class="center">
    <div class="title">
      <span *ngIf="!editing">{{ retrospective?.title }}</span>

      <span [hidden]="!editing"><input #retroTitleInput value="{{ retrospective?.title }}"></span>

      <button md-icon-button *ngIf="!editing && retrospective?.state === 1" (click)="editRetroTitle(true)">
        <md-icon>edit</md-icon>
      </button>

      <button md-icon-button *ngIf="editing" (click)="saveRetroTitle(retroTitleInput.value)">
        <md-icon>save</md-icon>
      </button>

      <button md-icon-button *ngIf="editing" (click)="editRetroTitle(false)">
        <md-icon>clear</md-icon>
      </button>
    </div>
    <a class="sub-title" (click)="openRetroContext()">Contexto</a>
  </span>

  <span class="right">
    <div class="members_picture" *ngFor="let member of retrospective?.members" mdTooltip="{{ member?.name }}"><img src="{{ member?.image }}" /></div>
    <div class="facilitador_picture" mdTooltip="{{ retrospective?.facilitador?.name }}"><img src="{{ retrospective?.facilitador?.image }}" alt="" title="" /></div>
    <div class="num_members" *ngIf="retrospective?.state !== appSettings.PREPARAR">{{ retrospective?.members.length + 1 }} {{ (retrospective?.members.length >= 1) ? 'participantes' : 'participante' }}</div>
  </span>
</md-toolbar>
