<md-toolbar color="primary">
  <span class="logo"><img src="../../assets/images/logo.png" /></span>

  <span class="center">

  </span>

  <span class="right">
    <md-menu #menu="mdMenu" xPosition="after">
      <button md-menu-item (click)="logout()">
        <span>Sair</span>
      </button>
    </md-menu>

    <button class="annotation_responsible" md-icon-button (click)="sidenav.open()">
      <md-icon>storage</md-icon>
    </button>

    <div class="user_picture" [mdMenuTriggerFor]="menu"><img src="{{ user.image }}" /></div>

    <div class="user_name" [mdMenuTriggerFor]="menu">{{ user.name }}</div>
  </span>
</md-toolbar>
