<mat-toolbar color="primary">
  <span class="logo"><img src="../../assets/images/logo.png" /></span>

  <span class="center"></span>

  <div class="right">
    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item (click)="logout()">
        <span>Sair</span>
      </button>
    </mat-menu>

    <button class="annotation_responsible" mat-icon-button (click)="sidenav.open()">
      <mat-icon>storage</mat-icon>
    </button>

    <div class="user_picture" [matMenuTriggerFor]="menu"><img src="{{ user.image }}" /></div>

    <div class="user_name" [matMenuTriggerFor]="menu">{{ user.name }}</div>
  </div>
</mat-toolbar>
