<section>
  <form>
    <mat-form-field fxFill>
      <input matInput #titleInput placeholder="Nome da reunião de retrospectiva">
    </mat-form-field>

    <mat-form-field fxFill>
      <textarea matInput #contextInput placeholder="Contexto da Reunião"></textarea>
    </mat-form-field>

    <label>Template</label>

    <ng-container *ngIf="templates?.length > 0">
      <swiper [config]="swiperConfig">
        <div class="card" *ngFor="let template of templates" [ngClass]="{ selected: template?.id === selectedTemplate }" (click)="selectTemplate(template?.id)">
          <img mat-card-sm-image src="{{ template?.image }}">

          <div class="name">{{ template?.title }}</div>
        </div>
      </swiper>
    </ng-container>

    <ng-container *ngIf="templates?.length <= 0">
      <div style="padding: 8px 0;">
        <p>Nenhum template cadastrado</p>
      </div>
    </ng-container>

    <div class="actions">
      <button mat-button mat-dialog-close>Canclear</button>
      <button mat-button (click)="createNewRetrospective(titleInput?.value, contextInput?.value)">Salvar</button>
    </div>
  </form>
</section>
