@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import 'theme.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: mat-color($primary, default-contrast)
}

[hidden] { display: none !important; }
