<md-card>
  <div class="feedback" *ngIf="!editing">
    {{ card?.description }}
  </div>

  <div class="feedback" [hidden]="!editing">
    <textarea #feedbackInput>{{ card?.description }}</textarea>
  </div>

  <div class="footer">
    <div class="actions" [ngClass]="{ active: voted === true }">
      <span class="num">{{ card?.votes }}</span>

      <button class="vote" md-icon-button (click)="vote()">
        <md-icon>thumb_up</md-icon>
      </button>

      <button md-icon-button *ngIf="!editing && user.id == card.userId" (click)="editCard(true)">
        <md-icon>edit</md-icon>
      </button>

      <button md-icon-button *ngIf="!editing && user.id == card.userId" (click)="deleteCard(card)">
        <md-icon>delete</md-icon>
      </button>

      <button md-icon-button *ngIf="editing && user.id == card.userId" (click)="saveCard(feedbackInput?.value)">
        <md-icon>save</md-icon>
      </button>

      <button md-icon-button *ngIf="editing && user.id == card.userId" (click)="editCard(false)">
        <md-icon>clear</md-icon>
      </button>
    </div>
    <div class="user" mdTooltip="Nome">
      <img src="https://s3-sa-east-1.amazonaws.com/pheliperocha/images/brand/PhelipeRocha-150.jpg" />
    </div>
  </div>
</md-card>
