@import '~@angular/material/theming';
@import '../../theme.scss';

md-card {
  padding: 0px;
  margin-bottom: 8px;

  .feedback {
    padding: 8px;

    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid mat-color($mat-grey, 300);
      resize: vertical;

      &:focus {
        outline: none;
        border-bottom: 2px solid mat-color($accent);
      }
    }
  }

  .footer {
    padding-left: 8px;

    .actions {
      button {
        border: none;
        background: none;
        padding: 0px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 30px;

        md-icon {
          font-size: 16px;
          height: auto;

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(1.2) rotate(-10deg);
          }
        }
      }

      &.active .num, &.active .vote {
        color: mat-color($accent);
      }
    }

    .user {
      float: right;
      width: 36px;
      height: 36px;
      margin-top: -36px;
      border-radius: 999px 0px 0px 0px;
      overflow: hidden;
      transition: .3s;

      &:hover {
        width: 42px;
        height: 42px;
        margin-top: -42px;
      }

      img {
        width: 100%;
      }
    }
  }
}
