<md-card [ngClass]="{reflexao: reflexao}">
  <div class="list_title" *ngIf="reflexao">
    {{ card?.list?.title }}
  </div>

  <div class="feedback" *ngIf="!editing">
    {{ card?.description }}
  </div>

  <div class="feedback" [hidden]="!editing">
    <textarea #feedbackInput>{{ card?.description }}</textarea>
  </div>

  <div class="footer">
    <div class="actions" [ngClass]="{ active: voted === true }">
      <span class="num">{{ card?.votes }}</span>

      <button class="vote" md-icon-button (click)="vote()">
        <md-icon>thumb_up</md-icon>
      </button>

      <button md-icon-button *ngIf="!editing && user.id == card.user.id && !reflexao" (click)="editCard(true)">
        <md-icon>edit</md-icon>
      </button>

      <button md-icon-button *ngIf="!editing && user.id == card.user.id && !reflexao" (click)="deleteCard(card)">
        <md-icon>delete</md-icon>
      </button>

      <button md-icon-button *ngIf="editing && user.id == card.user.id && !reflexao" (click)="saveCard(feedbackInput?.value)">
        <md-icon>save</md-icon>
      </button>

      <button md-icon-button *ngIf="editing && user.id == card.user.id" (click)="editCard(false)">
        <md-icon>clear</md-icon>
      </button>
    </div>
    <div class="user" mdTooltip="{{ card?.user?.name }}">
      <img src="{{ card?.user?.image }}" />
    </div>
  </div>
</md-card>
